<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3>{{ folderName }}</h3>
  
    <ion-card *ngFor="let category of categories$ | async" (click)="goTo(category.id, category.name)">
  
      <ion-card-header>
        {{  category.name }}
      </ion-card-header>
    
      <ion-card-content>
        <!-- Add card content here! -->
      </ion-card-content>
    
    </ion-card>

    <button ion-button outline (click)="addCategory()">Add category</button>
  </ion-content>
  