<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{ productName }}</h3>

  <ion-card *ngIf="product$ | async as product">

    <ion-card-header>
      {{ product.name }}
    </ion-card-header>

    <ion-card-content>
      <p>Price: {{ product.price }} {{ product.currency }}</p>
      <p>Amount: {{ product.amount }}</p>
      <p>Cost: {{ product.cost }}</p>
    </ion-card-content>

    <button ion-button outline (click)="productSold(product)">Sell 1</button>

  </ion-card>
</ion-content>